[user]
	name = Brian Knoles
	email = bknoles@gmail.com
[color]
	ui = true
[core]
	editor = mvim -f
	excludesfile = ~/.gitignore_global
  pager = delta
	autocrlf = input
[alias]
    mylog = log --pretty=format:'%Cblue%h %C(yellow)%ad%Creset %s [%Cblue%an%Creset]' --graph --date=short
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    co = checkout
[heroku]
	account = personal

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Night Owl
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
